######################
# Compiled Source
######################
*.exe
*.o
*.mod
*.so
*.pyc

######################
# Temporary Files
######################
*.swp
*.swo
*~
\#*

######################
# LaTeX/BibTeX
######################
*.aux
*.log
*.dvi
*.bbl
*.blg
*.spl

######################
# Explicitly ignore PDFs
######################
Notes/various_notes.pdf

#####################
# Makefiles
GNUmakefile
